title = "DepMap Omics Long Read RNA"

gcp_project_id = "depmap-omics"
gumbo_env = "prod"
uuid_namespace = "00000000-0000-0000-0000-000000000000"
dry_run = false

[alignment.gcs_source]
bucket = "fc-aaf4de93-c104-45c4-a01a-a036869119c6"
glob = "tag*/**/merge/PR-*.bam"

[terra]
delivery_workspace_namespace = "broad-firecloud-ccle"
delivery_workspace_name = "Long_Read_Omics"
short_read_workspace_namespace = "broad-firecloud-ccle"
short_read_workspace_name = "depmap-omics-rna"
workspace_namespace = "broad-firecloud-ccle"
workspace_name = "depmap-omics-long-read-rna-dev"

[terra.align_lr_rna]
method_namespace = "cds-pipelines"
method_name = "align_lr_rna"
method_config_namespace = "cds-pipelines"
method_config_name = "align_lr_rna"
method_synopsis = "Align long read uBAM"
workflow_wdl_path = "./workflows/align_lr_rna/align_lr_rna.wdl"
method_config_json_path = "./workflows/align_lr_rna/align_lr_rna.json"
workflow_inputs_json_path = "./workflows/align_lr_rna/align_lr_rna_inputs.json"

[terra.quantify_lr_rna]
method_namespace = "cds-pipelines"
method_name = "quantify_lr_rna"
method_config_namespace = "cds-pipelines"
method_config_name = "quantify_lr_rna"
method_synopsis = "Quantify long reads"
workflow_wdl_path = "./workflows/quantify_lr_rna/quantify_lr_rna.wdl"
method_config_json_path = "./workflows/quantify_lr_rna/quantify_lr_rna.json"
workflow_inputs_json_path = "./workflows/quantify_lr_rna/quantify_lr_rna_inputs.json"

[terra.call_lr_rna_fusions]
method_namespace = "cds-pipelines"
method_name = "call_lr_rna_fusions"
method_config_namespace = "cds-pipelines"
method_config_name = "call_lr_rna_fusions"
method_synopsis = "Call long read fusions"
workflow_wdl_path = "./workflows/call_lr_rna_fusions/call_lr_rna_fusions.wdl"
method_config_json_path = "./workflows/call_lr_rna_fusions/call_lr_rna_fusions.json"
workflow_inputs_json_path = "./workflows/call_lr_rna_fusions/call_lr_rna_fusions_inputs.json"

[terra.combine_gtfs]
method_namespace = "cds-pipelines"
method_name = "combine_gtfs"
method_config_namespace = "cds-pipelines"
method_config_name = "combine_gtfs"
method_synopsis = "Combine GTFs"
workflow_wdl_path = "./workflows/combine_gtfs/combine_gtfs.wdl"
method_config_json_path = "./workflows/combine_gtfs/combine_gtfs.json"
workflow_inputs_json_path = "./workflows/combine_gtfs/combine_gtfs_inputs.json"
